#title{
    color: blueviolet;
    font-size: 2.1em;
    text-align: center;
}
#title:hover{
    transition: 0s;
    color: #800080;
}

#row{
    width: 85em;
    height: 40em;
    margin-left: 10em;
    margin-top: 4.7em;
}

#registrarse{
    background-color: blueviolet;
    width: 100%;
    height: 3em;
    border: 1px blueviolet solid;
    color: white;
    font-size: 1.1em;
}
#registrarse:hover{
    transition: 0.1s;
    color: white;
    background-color: #800080;
}

#login{
    color: blueviolet;
}
#login:hover{
    transition: 0s;
    color: #800080;
}

#form-group{
    font-size: 1.2em;
}