<div class="card mt-5" *ngIf="user$ | async as user; else loading">
  <div class="card-body">
    <h3 class="card-title text-center">¡Gracias por registrarte!</h3>
    <div class="form-group mt-2">
      <p class="text-center">
        Hemos enviado un correo electrónico de confirmación al correo 
        <strong>{{ user?.email }}</strong>
      </p>
      <p class="text-center">
        Verifique su correo electrónico y haga clic en el enlace para verificar su 
        dirección de correo electrónico.
      </p>
    </div>
    <div class="form-group text-center mt-5">
      <button class="btn btn-primary" (click)="onSendEmail()">
        Reenviar correo electrónico de verificación
      </button>
    </div>
  </div>
</div>
<ng-template #loading>
  Cargando....
</ng-template>