<td-layout>
	<td-layout-nav toolbarTitle="" navigationRoute="/">
		<td-layout-manage-list id="sidenav">
			<mat-toolbar id="menu" td-sidenav-content>
				<mat-toolbar-row>
					<span routerLink="/" id="text"><mat-icon id="logo">menu</mat-icon> Inicio</span>
				</mat-toolbar-row>
			</mat-toolbar>
			<div id="botones" td-sidenav-content>
				<mat-nav-list id='mat-nav-list'>
					<ng-template let-item let-last="last" ngFor [ngForOf]="routes" id="botones">
						<a mat-list-item [routerLink]="[item.route]"
										[routerLinkActive]="['active']"
										[routerLink]="">
							<mat-icon class="tc-blue-grey-700">{{item.icon}}</mat-icon>
						{{item.title}}
						</a>
					</ng-template>
				</mat-nav-list>
			</div>
		<router-outlet></router-outlet>
		</td-layout-manage-list>
	</td-layout-nav>
</td-layout>