#card{
    width: 40em;
    height: 18em;
    margin-left: 33em;
    margin-top: 10em;
}

#card-body{
    margin-top: 2em;
}

#solicitar{
    background-color: blueviolet;
    width: 55%;
    height: 3em;
    border: 1px blueviolet solid;
    color: white;
    font-size: 1.1em;
}
#solicitar:hover{
    transition: 0.1s;
    color: white;
    background-color: #800080;
    border: 1px #800080 solid;
}

#title{
    color: blueviolet;
    font-size: 2.1em;
    text-align: center;
}
#title:hover{
    transition: 0.1s;
    color: #800080;
}